<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eventcamp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Login"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Homescreen"
            android:label="@string/app_name"
            android:parentActivityName=".Login"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.eventcamp.Login" />
        </activity>
        <activity
            android:name=".Signup"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Signup_detail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Profile"
            android:parentActivityName=".Homescreen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Myevents"
            android:label="@string/myevents_title"
            android:parentActivityName=".Homescreen"
            android:screenOrientation="portrait"
            android:theme="@style/Register" />
        <activity
            android:name=".AddNewEvent"
            android:label="@string/newevents_title"
            android:parentActivityName=".Myevents"
            android:screenOrientation="portrait"
            android:theme="@style/Register" />
        <activity
            android:name=".Event_Details"
            android:screenOrientation="portrait" />
        <activity android:name=".about"></activity>
    </application>

</manifest>